/* -- Index HTML -- */


.indexheader {
    background-color: #0046FF;
    border: 5px solid #002383;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    padding: 30px;
    justify-content: center;
}
.indexheaderh1 {
    width: 1000px;
}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: all 0.25s linear;
}
.logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px yellow;
}
.left {
    float: left;
}
.right {
    float: right;
}

.bodyindex {
    text-align: center;
    background-color: #73C8D2;
    color: white;
    background-image: url(Pictures/IndexBackground.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.indexmain {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.indexsection {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.indexsectionh1 {
    margin-top: 100px;
}
.indexsection1 {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #746735;
    color: rgb(255, 168, 168);
    transition: 0.25s all linear;
}
.indexsection1:hover {
    background-image: url(Pictures/Pantai\ Labuan\ Bajo\ pasir\ merah.jpeg);
    border: 5px solid rgb(0, 102, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    color: #ff00dd;
}
.indexsection2 {
    background-image: url(Pictures/Pulau\ Weh\ Beranda\ Logo.webp);
    background-size: cover;
    background-position: center;
    border: 5px solid #006bc2;
    color: rgb(107, 255, 127);
    transition: 0.25s all linear;
}
.indexsection2:hover {
    background-image: url(Pictures/Pulau\ Weh\ Beranda\ 1.jpeg);
    border: 5px solid rgb(0, 255, 179);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    color: #01ff0d;
}
.indexsection3 {
    background-image: url(Pictures/Pulau\ Derawan\ Profil\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #00973a;
    color: rgb(60, 255, 0);
    transition: 0.25s all linear;
}
.indexsection3:hover {
    background-image: url(Pictures/Pulau\ Derawan\ Beranda\ \ 1.jpeg);
    border: 5px solid rgb(0, 255, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    color: #00ffff;
}
.bigupdate {
    color: rgb(0, 111, 131);
    font-weight: bolder;
}
.midupdate {
    color: rgb(0, 104, 0);
    font-weight: bold;
}









/* -- Semua Halaman -- */










header {
    background-color: #0046FF;
    border: 5px solid #002383;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    padding: 30px;
    border-radius: 20px;
}
body {
    background-color: #73C8D2;
}
header h1 {
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 40px;
}
nav {
    margin-left: auto;
    text-align: center;
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}
nav ul li {
    position: relative;
    margin: 0 15px;
    border-radius: 10px;
}
nav ul li:hover {
    background-color: #1b232c;
}
nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
}
nav ul li a:hover {
    background: #1a222b;
    border-radius: 5px;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background: #26323f;
    list-style: none;
    padding: 0;
    margin:0;
    border-radius: 5px;
    z-index: 1000
}
nav ul li ul li {
    margin: 0px;
    width: 150px;
    text-align: center;
}
nav ul li ul li a {
    padding: 10px;
    font-weight: normal;
}
nav ul li:hover ul {
    display: block; /*flex untuk ke samping*/
}
.beranda {
    color: aqua;
}
.Beranda {
    color: rgb(255, 230, 0);
}

aside {
    background-color: #F5F1DC;
    border: 5px solid #9b9889;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    text-align: left;
}
aside h1{
    text-align: center;
}
footer {
    color: white;
    background-color: #FF9013;
    border: 5px solid #975203;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}


a {
    text-decoration: none;
}

.spanduk {
    border:5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    border-radius: 20px;
}











/* -- Main Navigasi -- */












.mainNav {
    display: block;
    border: 5px solid none;
    background-color: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mainNav h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 5px solid black;
    width: 20%;
    background-color: white;
    color: black;
}
.divmainNav {
    display: flex;
    border-radius: 30px;
    justify-content: center;
    margin: auto auto;
    margin-bottom: 60px;
    margin-top: 60px;
}

.secmainNav {
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin: auto auto;
    width: 35%;
    box-shadow: 0 0 20px black;
}
.divmainNav a {
    color: black;
    text-shadow: 0 0 10px black;
}
.artsecmainNav {
    border-radius: 10px;
    background-color:#003f3f;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    padding: 10px;
    text-align: justify;
    margin: auto auto;
    box-shadow: 0 0 10px black;
}
.secmainNav article h3 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
}
.secmainNav article p {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);   
}
.BPD{
    border:5px solid #5f8180;
    background-color: #a6cfcd;
    transition: 0.2s all linear;
}
.BPD:hover {
    transform: scale(1.05);
    border:5px solid #abcfce;
    background-color: #d1fffd;
    box-shadow: 0 0 30px rgb(187, 255, 255);
}
.artBPD {
    background-image: url(Pictures/Pulau\ Derawan\ Beranda\ Logo\ New.webp);
    color: white;
}

.PSPD {
    border:5px solid #358582 ;
    background-color: #66D2CE ;
    transition: 0.2s all linear;
}
.PSPD:hover {
    transform: scale(1.05);
    border:5px solid #1f9692 ;
    background-color: #44fff9 ;
    box-shadow: 0 0 30px #7bfffb;
}
.artPSPD {
    background-image: url(Pictures/PD\ -\ DTW\ -\ Danau\ Kakaban.jpeg);
    color: white;
}
.PFPD {
    border:5px solid #217a71;
    background-color: #2DAA9E;
    transition: 0.2s all linear;
}
.PFPD:hover {
    transform: scale(1.05);
    border:5px solid #169689;
    background-color: #00dac4;
    box-shadow: 0 0 30px #47ffed;
}
.artPFPD {
    background-image: url(Pictures/FasPD\ -\ Bandara\ Kalimarau.jpeg);
    color:rgb(255, 255, 255);
}
.BTPPD {
    border:5px solid #b1b1b1 ;
    background-color: #EAEAEA;
    transition: 0.2s all linear;
}
.BTPPD:hover {
    transform: scale(1.05);
    border:5px solid #dadada ;
    background-color: #ffffff;
    box-shadow: 0 0 30px white;
}
.artBTPPD {
    background-image: url(Pictures/PD\ -\ BTP1.jpg);
    color: white;
}
.BEPD {
    border: 5px solid #58524c;
    background-color: #E3D2C3;
    transition: 0.2s all linear;
}
.BEPD:hover {
    transform: scale(1.05);
    border: 5px solid #c4c4c4;
    background-color: #fff8f2;
    box-shadow: 0 0 30px white;
}
.artBEPD {
    background-image: url(Pictures/PD\ -\ BE1.jpg);
    color: white;
}


.awhite {
    color:white
}

.BPW{
    border:5px solid #5f8180;
    background-color: #a6cfcd;
    transition: 0.2s all linear;
}
.BPW:hover {
    transform: scale(1.05);
    border:5px solid #98c0bf;
    background-color: #bcfffc;
    box-shadow: 0 0 30px rgb(187, 255, 255);
}
.artBPW {
    background-image: url(Pictures/Pulau\ Weh\ Beranda\ Logo.webp);
    color: white;
}

.PSPW {
    border:5px solid #412999 ;
    background-color: #6439FF ;
    transition: 0.2s all linear;
    color: white
}
.PSPW:hover {
    transform: scale(1.05);
    border:5px solid #4f2bd1 ;
    background-color: #825fff ;
    box-shadow: 0 0 30px #7d0cff;
}
.artPSPW {
    background-image: url(Pictures/Pulau\ Weh\ Profil\ 1.jpeg);
    color: white;
}
.PFPW {
    border:5px solid #263a83;
    background-color: #4F75FF;
    transition: 0.2s all linear;
}
.PFPW:hover {
    transform: scale(1.05);
    border:5px solid #1b3fc2;
    background-color: #92aaff;
    box-shadow: 0 0 30px #8583ff;
}
.artPFPW {
    background-image: url(Pictures/FasPD\ -\ Bandara\ Kalimarau.jpeg);
    color:rgb(255, 255, 255);
}
.BTPPW {
    border:5px solid #007883 ;
    background-color: #00CCDD;
    transition: 0.2s all linear;
}
.BTPPW:hover {
    transform: scale(1.05);
    border:5px solid #00b8c9 ;
    background-color: #2eeeff;
    box-shadow: 0 0 30px rgb(57, 209, 255);
}
.artBTPPW {
    background-image: url(Pictures/PD\ -\ BTP1.jpg);
    color: white;
}
.BEPW {
    border: 5px solid #4d9ca3;
    background-color: #7CF5FF;
    transition: 0.2s all linear;
}
.BEPW:hover {
    transform: scale(1.05);
    border: 5px solid #0fd5e7;
    background-color: #5cf1ff;
    box-shadow: 0 0 30px rgb(33, 255, 237);
}
.artBEPW {
    background-image: url(Pictures/PD\ -\ BE1.jpg);
    color: white;
}






.BBB{
    border:5px solid #5f8180;
    background-color: #a6cfcd;
    transition: 0.2s all linear;
}
.BBB:hover {
    transform: scale(1.05);
    border:5px solid #98c0bf;
    background-color: #bcfffc;
    box-shadow: 0 0 30px rgb(187, 255, 255);
}
.artBBB {
    background-image: url(Pictures/Logo\ Beranda\ Labuan\ Bajo.jpeg);
    color: white;
}

.PSBB {
    border:5px solid #052525 ;
    background-color: #005555 ;
    transition: 0.2s all linear;
}
.PSBB:hover {
    transform: scale(1.05);
    border:5px solid #0c7a7a ;
    background-color: #00bebe ;
    box-shadow: 0 0 30px #1ca39f;
}
.artPSBB {
    background-image: url(Pictures/Dusk_&_Dawn_in_Kalong_Island\,_Labuan_Bajo.jpg);
    color: white;
}
.PFBB {
    border:5px solid #0a5750;
    background-color: #069A8E;
    transition: 0.2s all linear;
}
.PFBB:hover {
    transform: scale(1.05);
    border:5px solid #12a599;
    background-color: #08ddcb;
    box-shadow: 0 0 30px #47ffed;
}
.artPFBB {
    background-image: url(Pictures/TamanNasionalKomodo\ LabuanBajo.jpeg);
    color:rgb(255, 255, 255);
}
.BTPBB {
    border:5px solid #5e9188 ;
    background-color: #A1E3D8;
    transition: 0.2s all linear;
}
.BTPBB:hover {
    transform: scale(1.05);
    border:5px solid #81c4b7 ;
    background-color: #befff4;
    box-shadow: 0 0 30px rgb(230, 250, 255);
}
.artBTPBB {
    background-image: url(Pictures/Labuan\ Bajo\ Berita\ pantai\ 1.webp);
    color: white;
}
.BEBB {
    border: 5px solid #8a8f43;
    background-color: #F7FF93;
    transition: 0.2s all linear;
}
.BEBB:hover {
    transform: scale(1.05);
    border: 5px solid #cdd468;
    background-color: #faffb6;
    box-shadow: 0 0 30px rgb(254, 255, 199);
}
.artBEBB {
    background-image: url(Pictures/Labuan\ Bajo\ Berita\ Event\ 1.webp);
    color: white;
}











/* -- Labuan Bajo -- Beranda -- */












.bodyberandabajo {
    display: block;
    justify-content: center;
}
.logoberandabajo {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin: auto auto;
    height: 500px;
    background-image: url(Pictures/Logo\ Beranda\ Labuan\ Bajo.jpeg);
    background-position: center;
    background-size: cover;
    padding: 30px;
}
.logoberandabajo h1 {
    font-size: 75px;
    margin-top: 200px;
}
.main1berandabajo {
    display: flex;
    background-color: #154D71;
    height: 400px;
    justify-content: left;
    border: 5px solid #113F67;
}
.section1main1berandabajo {
    background-color: #1873ac;
    padding: 30px;
    text-align: center;
    width: 150%;
    color: white;
}
.section2main1berandabajo {
    background-color: #154D71;
    padding: 30px;
    text-align: justify;
    color: white;
}
.fotomain1berandabajo {
    width: 90%;
    border-radius: 30px;
}
.main2BB {
    display: flex;
    background-color: #154D71;
    height: 600px;
    justify-content: right;
    border:5px solid #4300FF;
}
.sec1main2BB {
    background-color: #0065F8;
    padding: 30px;
    text-align: justify;
    color: white;
}
.sec2main2BB {
    background-color: #00CAFF;
    padding: 30px;
    text-align: center;
    width: 150%;
    color: white;
}
.fotomain2BB {
    width: 90%;
    border-radius: 30px;
}

h3 i a {
    text-shadow: 0 0 10px black;
    color: white;
    text-decoration: underline;
}












/* -- Labuan Bajo - Profil */















.bodyprofil {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/IndexBackground.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.profilmain {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.profilsection {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.profilsectionh1 {
    margin-top: 100px;
}
.profilsection1 {
    background-image: url(Pictures/Labuan\ Bajo\,\ adat.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #ff6600;
    color: rgb(255, 0, 0);
    transition: 0.25s all linear;
}
.profilsection1:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Adat\ Kuadrat.jpeg);
    border: 5px solid rgb(255, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 138, 42);
    color: #ff6600;
}
.profilsection2 {
    background-image: url(Pictures/Labuan\ Bajo\ Hotel.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #028dff;
    color: rgb(0, 38, 255);
    transition: 0.25s all linear;
}
.profilsection2:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Kota.jpg);
    border: 5px solid rgb(0, 26, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(37, 59, 255);
    color: #008cff;
}















/* -- Labuan Bajo - Sejarah/Daya Tarik Wisata -- */
















.bodySejBB {
    display: block;
}
.main1SejBB {
    width: 80%;
    margin: auto auto;
    background-color: white;
    border: 5px solid black;
    min-height: auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.sec1main1SejBB {
    text-align: center;
    background-color: green;
    background-image: url(Pictures/Dusk_&_Dawn_in_Kalong_Island\,_Labuan_Bajo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    text-shadow: 0 0 10px black;
    height: 500px
}
.sec1main1SejBB h1 {
    margin-top: 240px;
}
.foto1main1SejBB {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1SejBB {
    text-align: justify;
    color: black
}













/* -- Labuan Bajo - Fasilitas */















.bodyFasBB {
    display: block;
}
.main1FasBB {
    display: flex;
    border: 5px solid black;
    background-color: white;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    min-height: auto;
    padding: 30px;
    justify-content: center;
    border-radius: 30px;
}
.sec1main1FasBB {
    text-align: center;
    display: block;
    padding: 20px;
}
.sec2main1FasBB {
    text-align: justify;
    color: black;
    padding: 20px;
}
.sec3main1FasBB {
    text-align: center;
    display: block;
    padding: 20px;
}
.Fotomain1FasBB {
    border-radius: 20px;
    width: 200px;
    height: 150px;
}













/* -- Labuan Bajo - Berita -- */













.bodyberita {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/IndexBackground.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.beritamain {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.beritasection {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.beritasectionh1 {
    margin-top: 100px;
}
.beritasection1 {
    background-image: url(Pictures/Labuan\ Bajo\ Terkait\ sesungguhnya\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #ff6600;
    color: rgb(255, 0, 0);
    transition: 0.25s all linear;
}
.beritasection1:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Terkait\ sesungguhnya\ 2.jpeg);
    border: 5px solid rgb(255, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 138, 42);
    color: #ff6600;
}
.beritasection2 {
    background-image: url(Pictures/Labuan\ Bajo\ Event.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #ffffff;
    color: rgb(99, 123, 255);
    transition: 0.25s all linear;
}
.beritasection2:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Eventt.jpeg);
    border: 5px solid rgb(0, 26, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(37, 59, 255);
    color: #dbefff;
}
















/* -- Labuan Bajo - Berita - Terkait Pantai -- */















.bodyBTPBB {
    display: block;
}
.main1BTPBB {
    display: block;
    background-color: white;
    border: 5px solid black;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    min-height: auto;
    border-radius: 30px;
}
.sec1main1BTPBB {
    display: flex;
    justify-content: right;
}
.div1sec1main1BTPBB {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec1main1BTPBB {
    color: black;
    text-align: center;
    padding: 15px;
}
.fotosecBTPBB {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1BTPBB {
    display: flex;
    justify-content: right;
}
.div1sec2main1BTPBB {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec2main1BTPBB {
    color: black;
    text-align: center;
    padding: 15px;
}
.sec3main1BTPBB {
    display: flex;
    justify-content: right;
}
.div1sec3main1BTPBB {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec3main1BTPBB {
    color: black;
    text-align: center;
    padding: 15px;
}













/* -- Labuan Bajo - Berita - Events -- */












.bodyBEBB {
    display: block;
}
.main1BEBB {
    display: block;
    background-color: white;
    border: 5px solid black;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    min-height: auto;
    border-radius: 30px;
}
.sec1main1BEBB {
    display: flex;
    justify-content: right;
}
.div1sec1main1BEBB {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec1main1BEBB {
    color: black;
    text-align: center;
    padding: 15px;
}
.fotosecBEBB {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1BEBB {
    display: flex;
    justify-content: right;
}
.div1sec2main1BEBB {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec2main1BEBB {
    color: black;
    text-align: center;
    padding: 15px;
}
.sec3main1BEBB {
    display: flex;
    justify-content: right;
}
.div1sec3main1BEBB {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec3main1BEBB {
    color: black;
    text-align: center;
    padding: 15px;
}














/* -- Labuan Bajo - Form Kontak -- */
















.bodykontak {
    background-image: url(Pictures/IndexBackground.webp);
    background-size:cover;
    background-position: center;
    padding: 0;
    height: 300px;
}
.formkontak {
    background-color: white;
    margin: auto auto;
    border-radius: 10px;
    border: 3px solid rgb(255, 77, 246);
    width:400px;
    box-shadow: 0 0 10px black;
}
.h1formkontak {
    text-align: center;
    background-color: rgb(247, 0, 255);
    border: 5px solid rgb(105, 0, 105);
    border-radius: 20px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.formbutton {
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    transition: all 0.1s linear;
}
.formbutton:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(231, 231, 231);
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1)
}















/* -- Pulau Weh - Beranda -- */














.bodyBerPW {
    display: block;
    justify-content: center;
}
.logoBerPW {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin: auto auto;
    height: 500px;
    background-image: url(Pictures/Pulau\ Weh\ Beranda\ Logo.webp);
    background-position: center;
    background-size: cover;
    padding: 30px;
}
.logoBerPW h1 {
    font-size: 75px;
    margin-top: 200px;
}
.main1BerPW {
    display: flex;
    background-color: #154D71;
    height: 300px;
    justify-content: left;
    border: 5px solid #113F67;
}
.sec1main1BerPW {
    background-color: #A8FBD3;
    padding: 30px;
    text-align: center;
    width: 150%;
    color: rgb(0, 0, 0);
}
.sec2main1BerPW {
    background-color: #4FB7B3;
    padding: 30px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.fotomain1BerPW {
    width: 90%;
    border-radius: 30px;
}
.main2BerPW {
    display: flex;
    background-color: #154D71;
    height: 600px;
    justify-content: right;
    border:5px solid #4300FF;
}
.sec1main2BerPW {
    background-color: #637AB9;
    padding: 30px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.sec2main2BerPW {
    background-color: #31326F;
    padding: 30px;
    text-align: center;
    width: 150%;
    color: white;
}
.fotomain2BerPW {
    width: 90%;
    border-radius: 30px;
}

h3 i a {
    text-shadow: 0 0 10px black;
    color: white;
    text-decoration: underline;
}














/* -- Pulau Weh - Profil -- */













.bodyProPW {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/Pulau\ Weh\ Beranda\ Logo.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.main1ProPW {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.secmain1ProPW {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.h1secmain1ProPW {
    margin-top: 100px;
}
.sec1main1ProPW {
    background-image: url(Pictures/Pulau\ Weh\ Profil\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #003cff;
    color: #00ff00;
    transition: 0.25s all linear;
}
.sec1main1ProPW:hover {
    background-image: url(Pictures/Pulau\ Weh\ Profil\ 1\ Hover.jpeg);
    border: 5px solid #00e7fc;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 190, 136);
    color: #4bff69;
}
.sec2main1ProPW {
    background-image: url(Pictures/Pulau\ Weh\ Profil\ 2.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #3a9e00;
    color: rgb(56, 86, 255);
    transition: 0.25s all linear;
}
.sec2main1ProPW:hover {
    background-image: url(Pictures/Pulau\ Weh\ Profil\ 2\ hover.jpeg);
    border: 5px solid rgb(54, 255, 28);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(59, 255, 53);
    color: #2affed;
}














/* -- Pulau Weh - Sejarah/Daya Tarik Wistata -- */















.bodySejPW {
    display: block;
}
.main1SejPW {
    width: 80%;
    margin: auto auto;
    background-color: white;
    border: 5px solid black;
    min-height: auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.sec1main1SejPW {
    text-align: center;
    background-color: green;
    background-image: url(Pictures/PW\ -\ DTP\ -\ Rubiah\ Sea\ Garden.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(59, 255, 245);
    font-weight: bold;
    padding: 20px;
    text-shadow: 0 0 10px black;
    height: 500px;
    border-radius: 20px;
}
.sec1main1SejPW h1 {
    margin-top: 240px;
    font-size: 50px;
}
.foto1main1SejPW {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1SejPW {
    text-align: justify;
    color: black
}













/* -- Pulau Weh - Fasilitas -- */












.bodyFasPW {
    display: block;
}
.main1FasPW {
    display: flex;
    border: 5px solid black;
    background-color: white;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    min-height: auto;
    padding: 30px;
    justify-content: center;
    border-radius: 30px;
}
.sec1main1FasPW {
    text-align: center;
    display: block;
    padding: 20px;
}
.sec2main1FasPW {
    text-align: justify;
    color: black;
    padding: 20px;
}
.sec3main1FasPW {
    text-align: center;
    display: block;
    padding: 20px;
}
.Fotomain1FasPW {
    border-radius: 20px;
    width: 200px;
    height: 150px;
}













/* -- Pulau Weh - Berita -- */












.bodyBeriPW {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/Pulau\ Weh\ Beranda\ Logo.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.main1BeriPW {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.secmain1BeriPW {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.h1secmain1BeriPW {
    margin-top: 100px;
}
.sec1main1BeriPW {
    background-image: url(Pictures/Pulau\ Weh\ Berita\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #003cff;
    color: #00ff00;
    transition: 0.25s all linear;
}
.sec1main1BeriPW:hover {
    background-image: url(Pictures/Pulau\ Weh\ Berita\ 1\ Hover.jpeg);
    border: 5px solid #00e7fc;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 190, 136);
    color: #4bff69;
}
.sec2main1BeriPW {
    background-image: url(Pictures/Pulau\ Weh\ Berita\ 2.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #3a9e00;
    color: rgb(0, 38, 255);
    transition: 0.25s all linear;
}
.sec2main1BeriPW:hover {
    background-image: url(Pictures/Pulau\ Weh\ Berita\ 2\ Hover.jpeg);
    border: 5px solid rgb(54, 255, 28);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(59, 255, 53);
    color: #2affed;
}















/* -- Pulau Weh - Berita - Terkait Pantai -- */















.bodyBTPPW {
    display: block;
}
.main1BTPPW {
    display: block;
    background-color: white;
    border: 5px solid black;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    min-height: auto;
    border-radius: 30px;
}
.sec1main1BTPPW {
    display: flex;
    justify-content: right;
}
.div1sec1main1BTPPW {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec1main1BTPPW {
    color: black;
    text-align: center;
    padding: 15px;
}
.fotosecBTPPW {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1BTPPW {
    display: flex;
    justify-content: right;
}
.div1sec2main1BTPPW {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec2main1BTPPW {
    color: black;
    text-align: center;
    padding: 15px;
}
.sec3main1BTPPW {
    display: flex;
    justify-content: right;
}
.div1sec3main1BTPPW {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec3main1BTPPW {
    color: black;
    text-align: center;
    padding: 15px;
}















/* -- Pulau Weh - Berita - Events -- */

















.bodyBEPW {
    display: block;
}
.main1BEPW {
    display: block;
    background-color: white;
    border: 5px solid black;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    min-height: auto;
    border-radius: 30px;
}
.sec1main1BEPW {
    display: flex;
    justify-content: right;
}
.div1sec1main1BEPW {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec1main1BEPW {
    color: black;
    text-align: center;
    padding: 15px;
}
.fotosecBEPW {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1BEPW {
    display: flex;
    justify-content: right;
}
.div1sec2main1BEPW {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec2main1BEPW {
    color: black;
    text-align: center;
    padding: 15px;
}
.sec3main1BEPW {
    display: flex;
    justify-content: right;
}
.div1sec3main1BEPW {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec3main1BEPW {
    color: black;
    text-align: center;
    padding: 15px;
}


















/* -- Pulau Weh - Kontak -- */
















.bodyKonPW {
    background-image: url(Pictures/Pulau\ Weh\ Beranda\ Logo.webp);
    background-size:cover;
    background-position: center;
    padding: 0;
    height: 300px;
}
.formKonPW {
    background-color: white;
    margin: auto auto;
    border-radius: 10px;
    border: 3px solid rgb(77, 104, 255);
    width:400px;
    box-shadow: 0 0 10px black;
}
.h1KonPW {
    text-align: center;
    background-color: rgb(0, 183, 255);
    border: 5px solid rgb(0, 72, 105);
    border-radius: 20px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.buttonformKonPW {
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    transition: all 0.1s linear;
}
.buttonformKonPW:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(231, 231, 231);
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1)
}















/* -- Pulau Derawan - Beranda -- */















.bodyBerPD {
    display: block;
    justify-content: center;
}
.logoBerPD {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin: auto auto;
    height: 500px;
    background-image: url(Pictures/Pulau\ Derawan\ Beranda\ Logo\ New.webp);
    background-position: center;
    background-size: cover;
    padding: 30px;
}
.logoBerPD h1 {
    font-size: 75px;
    margin-top: 200px;
}
.main1BerPD {
    display: flex;
    background-color: #154D71;
    height: 500px;
    justify-content: left;
    border: 5px solid #113F67;
}
.sec1main1BerPD {
    background-color: #A8FBD3;
    padding: 30px;
    text-align: center;
    width: 150%;
    color: rgb(0, 0, 0);
}
.sec2main1BerPD {
    background-color: #4FB7B3;
    padding: 30px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.fotomain1BerPD {
    width: 90%;
    border-radius: 30px;
}
.main2BerPD {
    display: flex;
    background-color: #154D71;
    height: 600px;
    justify-content: right;
    border:5px solid #4300FF;
}
.sec1main2BerPD {
    background-color: #637AB9;
    padding: 30px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.sec2main2BerPD {
    background-color: #31326F;
    padding: 30px;
    text-align: center;
    width: 150%;
    color: white;
}
.fotomain2BerPD {
    width: 90%;
    border-radius: 30px;
}

h3 i a {
    text-shadow: 0 0 10px black;
    color: white;
    text-decoration: underline;
}













/* -- Pulau Derawan - Profil -- */














.bodyProPD {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/Pulau\ Derawan\ Beranda\ Logo\ New.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.main1ProPD {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.secmain1ProPD {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.h1secmain1ProPD {
    margin-top: 100px;
}
.sec1main1ProPD {
    background-image: url(Pictures/Pulau\ Derawan\ Profil\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #135f03;
    color: #00ff15;
    transition: 0.25s all linear;
}
.sec1main1ProPD:hover {
    background-image: url(Pictures/Pulau\ Derawan\ Profil\ 1\ Hover.jpeg);
    border: 5px solid #ffc792;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 158, 78);
    color: #ff4800;
}
.sec2main1ProPD {
    background-image: url(Pictures/Pulau\ Derawan\ Profil\ 2.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #530000;
    color: rgb(255, 0, 0);
    transition: 0.25s all linear;
}
.sec2main1ProPD:hover {
    background-image: url(Pictures/Pulau\ Derawan\ Profil\ 2\ hover.jpeg);
    border: 5px solid rgb(255, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 0, 0);
    color: #ff6666;
}












/* -- Pulau Derawan - Sejarah/Daya Tarik Wisata -- */












.bodySejPD {
    display: block;
}
.main1SejPD {
    width: 80%;
    margin: auto auto;
    background-color: white;
    border: 5px solid black;
    min-height: auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.sec1main1SejPD {
    text-align: center;
    background-color: green;
    background-image: url(Pictures/PD\ -\ DTW\ -\ Danau\ Kakaban.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    text-shadow: 0 0 10px black;
    height: 500px;
    border: 20px;
}
.sec1main1SejPD h1 {
    margin-top: 240px;
}
.foto1main1SejPD {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1SejPD {
    text-align: justify;
    color: black
}












/* -- Pulau Derawan - Fasilitas -- */












.bodyFasPD {
    display: block;
}
.main1FasPD {
    display: flex;
    border: 5px solid black;
    background-color: white;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    min-height: auto;
    padding: 30px;
    justify-content: center;
    border-radius: 30px;
}
.sec1main1FasPD {
    text-align: center;
    display: block;
    padding: 20px;
}
.sec2main1FasPD {
    text-align: justify;
    color: black;
    padding: 20px;
}
.sec3main1FasPD {
    text-align: center;
    display: block;
    padding: 20px;
}
.Fotomain1FasPD {
    border-radius: 20px;
    width: 200px;
    height: 150px;
}











/* -- Pulau Derawan - Berita -- */















.bodyBeriPD {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/Pulau\ Derawan\ Beranda\ Logo\ New.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.main1BeriPD {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.secmain1BeriPD {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.h1secmain1BeriPD {
    margin-top: 100px;
}
.sec1main1BeriPD {
    background-image: url(Pictures/Pulau\ Derawan\ Berita\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #003cff;
    color: #00ff00;
    transition: 0.25s all linear;
}
.sec1main1BeriPD:hover {
    background-image: url(Pictures/Pulau\ Derawan\ Berita\ 1\ Hover.jpeg);
    border: 5px solid #00e7fc;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 190, 136);
    color: #4bff69;
}
.sec2main1BeriPD {
    background-image: url(Pictures/Pulau\ Derawan\ Berita\ 2.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #3a9e00;
    color: rgb(0, 38, 255);
    transition: 0.25s all linear;
}
.sec2main1BeriPD:hover {
    background-image: url(Pictures/Pulau\ Derawan\ Berita\ 2\ Hover.jpeg);
    border: 5px solid rgb(54, 255, 28);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(59, 255, 53);
    color: #2affed;
}












/* -- Pulau Derawan - Berita - Terkait Pantai -- */















.bodyBTPPD {
    display: block;
}
.main1BTPPD {
    display: block;
    background-color: white;
    border: 5px solid black;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    min-height: auto;
    border-radius: 30px;
}
.sec1main1BTPPD {
    display: flex;
    justify-content: right;
}
.div1sec1main1BTPPD {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec1main1BTPPD {
    color: black;
    text-align: center;
    padding: 15px;
}
.fotosecBTPPD {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1BTPPD {
    display: flex;
    justify-content: right;
}
.div1sec2main1BTPPD {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec2main1BTPPD {
    color: black;
    text-align: center;
    padding: 15px;
}
.sec3main1BTPPD {
    display: flex;
    justify-content: right;
}
.div1sec3main1BTPPD {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec3main1BTPPD {
    color: black;
    text-align: center;
    padding: 15px;
}
















/* -- Pulau Derawan - Berita - Events -- */
















.bodyBEPD {
    display: block;
}
.main1BEPD {
    display: block;
    background-color: white;
    border: 5px solid black;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    min-height: auto;
    border-radius: 30px;
}
.sec1main1BEPD {
    display: flex;
    justify-content: right;
}
.div1sec1main1BEPD {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec1main1BEPD {
    color: black;
    text-align: center;
    padding: 15px;
}
.fotosecBEPD {
    width: 250px;
    height: 175px;
    border-radius: 20px;
}
.sec2main1BEPD {
    display: flex;
    justify-content: right;
}
.div1sec2main1BEPD {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec2main1BEPD {
    color: black;
    text-align: center;
    padding: 15px;
}
.sec3main1BEPD {
    display: flex;
    justify-content: right;
}
.div1sec3main1BEPD {
    color: black;
    text-align: justify;
    padding: 15px;
}
.div2sec3main1BEPD {
    color: black;
    text-align: center;
    padding: 15px;
}















/* -- Pulau Derawan - Kontak -- */











.bodyKonPD {
    background-image: url(Pictures/Pulau\ Derawan\ Beranda\ Logo\ New.webp);
    background-size:cover;
    background-position: center;
    padding: 0;
    height: 300px;
}
.formKonPD {
    background-color: white;
    margin: auto auto;
    border-radius: 10px;
    border: 3px solid rgb(77, 255, 122);
    width:400px;
    box-shadow: 0 0 10px black;
}
.h1KonPD {
    text-align: center;
    background-color: rgb(0, 255, 128);
    border: 5px solid rgb(0, 105, 47);
    border-radius: 20px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.buttonformKonPD {
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    transition: all 0.1s linear;
}
.buttonformKonPD:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(231, 231, 231);
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1)
}


