/* -- Index HTML -- */


.indexheader {
    background-color: #0046FF;
    border: 5px solid #002383;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    padding: 30px;
    justify-content: center;
}
.indexheaderh1 {
    width: 1000px;
}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: all 0.25s linear;
}
.logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px yellow;
}
.left {
    float: left;
}
.right {
    float: right;
}

.bodyindex {
    text-align: center;
    background-color: #73C8D2;
    color: white;
    background-image: url(Pictures/IndexBackground.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.indexmain {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.indexsection {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.indexsectionh1 {
    margin-top: 100px;
}
.indexsection1 {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #746735;
    color: rgb(255, 168, 168);
    transition: 0.25s all linear;
}
.indexsection1:hover {
    background-image: url(Pictures/Pantai\ Labuan\ Bajo\ pasir\ merah.jpeg);
    border: 5px solid rgb(0, 102, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    color: #ff00dd;
}
.indexsection2 {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #746735;
    color: rgb(255, 168, 168);
    
}
.indexsection3 {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #746735;
    color: rgb(255, 168, 168);
}

.bigupdate {
    color: rgb(0, 111, 131);
    font-weight: bolder;
}
.midupdate {
    color: rgb(0, 104, 0);
    font-weight: bold;
}









/* -- Semua Halaman -- */










header {
    background-color: #0046FF;
    border: 5px solid #002383;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    padding: 30px;
    border-radius: 20px;
}
body {
    background-color: #73C8D2;
}
header h1 {
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 40px;
}
nav {
    margin-left: auto;
    text-align: center;
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}
nav ul li {
    position: relative;
    margin: 0 15px;
    border-radius: 10px;
}
nav ul li:hover {
    background-color: #1b232c;
}
nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
}
nav ul li a:hover {
    background: #1a222b;
    border-radius: 5px;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background: #26323f;
    list-style: none;
    padding: 0;
    margin:0;
    border-radius: 5px;
    z-index: 1000
}
nav ul li ul li {
    margin: 0px;
    width: 150px;
    text-align: center;
}
nav ul li ul li a {
    padding: 10px;
    font-weight: normal;
}
nav ul li:hover ul {
    display: block; /*flex untuk ke samping*/
}
.beranda {
    color: aqua;
}
.beranda {
    color: aqua;
}

aside {
    background-color: #F5F1DC;
    border: 5px solid #9b9889;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    text-align: left;
}
aside h1{
    text-align: center;
}
footer {
    color: white;
    background-color: #FF9013;
    border: 5px solid #975203;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}


a {
    text-decoration: none;
}







/* -- Labuan Bajo -- Beranda -- */












.bodyberandabajo {
    display: block;
    justify-content: center;
}
.logoberandabajo {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin: auto auto;
    height: 500px;
    background-image: url(Pictures/Logo\ Beranda\ Labuan\ Bajo.jpeg);
    background-position: center;
    background-size: cover;
    padding: 30px;
}
.logoberandabajo h1 {
    font-size: 75px;
}
.main1berandabajo {
    display: flex;
    background-color: #154D71;
    height: 400px;
    justify-content: left;
}
.sec {
    background-color: #1873ac;
    padding: 30px;
    text-align: center;
    width: 150%;
    color: white;
}
.sec2 {
    background-color: #154D71;
    padding: 30px;
    text-align: justify;
    color: white;
}
.fotomain1berandabajo {
    width: 90%;
    border-radius: 30px;
}















/* -- Labuan Bajo - Profil */















.bodyprofil {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/IndexBackground.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.profilmain {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.profilsection {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.profilsectionh1 {
    margin-top: 100px;
}
.profilsection1 {
    background-image: url(Pictures/Labuan\ Bajo\,\ adat.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #ff6600;
    color: rgb(255, 0, 0);
    transition: 0.25s all linear;
}
.profilsection1:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Adat\ Kuadrat.jpeg);
    border: 5px solid rgb(255, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 138, 42);
    color: #ff6600;
}
.profilsection2 {
    background-image: url(Pictures/Labuan\ Bajo\ Hotel.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #028dff;
    color: rgb(0, 38, 255);
    transition: 0.25s all linear;
}
.profilsection2:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Kota.jpg);
    border: 5px solid rgb(0, 26, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(37, 59, 255);
    color: #008cff;
}













/* -- Labuan Bajo - Berita -- */













.bodyberita {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/IndexBackground.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.beritamain {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.beritasection {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.beritasectionh1 {
    margin-top: 100px;
}
.beritasection1 {
    background-image: url(Pictures/Labuan\ Bajo\ Terkait\ sesungguhnya\ 1.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #ff6600;
    color: rgb(255, 0, 0);
    transition: 0.25s all linear;
}
.beritasection1:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Terkait\ sesungguhnya\ 2.jpeg);
    border: 5px solid rgb(255, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 138, 42);
    color: #ff6600;
}
.beritasection2 {
    background-image: url(Pictures/Labuan\ Bajo\ Event.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #ffffff;
    color: rgb(99, 123, 255);
    transition: 0.25s all linear;
}
.beritasection2:hover {
    background-image: url(Pictures/Labuan\ Bajo\ Eventt.jpeg);
    border: 5px solid rgb(0, 26, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(37, 59, 255);
    color: #dbefff;
}
















/* -- Form Kontak -- */
















.bodykontak {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size:contain;
    background-position: center;
    padding: 0;
    height: 300px;
}
.formkontak {
    background-color: white;
    margin: auto auto;
    border-radius: 10px;
    border: 3px solid rgb(255, 77, 246);
    width:400px;
    box-shadow: 0 0 10px black;
}
.h1formkontak {
    text-align: center;
    background-color: rgb(247, 0, 255);
    border: 5px solid rgb(105, 0, 105);
    border-radius: 20px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.formbutton {
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    transition: all 0.1s linear;
}
.formbutton:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(231, 231, 231);
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1)
}