/* -- Index HTML -- */


.indexheader {
    background-color: rgb(18, 88, 65);
    border: 5px solid rgb(9, 44, 32);
    color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    padding: 30px;
    justify-content: center;
}
.indexheaderh1 {
    width: 1000px;
}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: all 0.25s linear;
}
.logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px yellow;
}
.left {
    float: left;
}
.right {
    float: right;
}

.bodyindex {
    text-align: center;
    background-color: rgb(0, 94, 0);
    color: white;
    background-image: url(Pictures/IndexBackground.webp);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 10px black;
}
.indexmain {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 300px;
}
.indexsection {
    text-shadow: 0 0 10px black;
    width: 25%;
    height: 80%;
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-decoration: none;
    
}
.indexsectionh1 {
    margin-top: 100px;
}
.indexsection1 {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #746735;
    color: rgb(255, 168, 168);
    transition: 0.25s all linear;
}
.indexsection1:hover {
    background-image: url(Pictures/Pantai\ Labuan\ Bajo\ pasir\ merah.jpeg);
    border: 5px solid rgb(0, 102, 255);
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    color: #ff00dd;
}
.indexsection2 {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #746735;
    color: rgb(255, 168, 168);
    
}
.indexsection3 {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #746735;
    color: rgb(255, 168, 168);
    
}









/* -- Semua Halaman -- */










header {
    background-color: rgb(18, 88, 65);
    border: 5px solid rgb(9, 44, 32);
    color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    padding: 30px;
    border-radius: 20px;
}
header h1 {
    margin-left: 30px;
    margin-bottom: 30px;
}
nav {
    margin-left: auto;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav ul li {
    position: relative;
    margin: 0 15px;
    border-radius: 10px;
}
nav ul li:hover {
    background-color: #1b232c;
}
nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
}
nav ul li a:hover {
    background: #1a222b;
    border-radius: 5px;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background: #26323f;
    list-style: none;
    padding: 0;
    margin:0;
    border-radius: 5px;
    z-index: 1000
}
nav ul li ul li {
    margin: 0px;
    width: 150px;
    text-align: center;
}
nav ul li ul li a {
    padding: 10px;
    font-weight: normal;
}
nav ul li:hover ul {
    display: block; /*flex untuk ke samping*/
}
.beranda {
    color: aqua;
}
.beranda {
    color: aqua;
}

aside {
    background-color: rgb(126, 61, 0);
    border: 5px solid rgb(63, 30, 0);
    color: white;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    text-align: left;
}
aside h1{
    text-align: center;
}
footer {
    color: white;
    background-color: blue;
    border: 5px solid rgb(0, 0, 87);
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}


a {
    text-decoration: none;
}







/* -- Labuan Bajo -- Beranda -- */












.bodyberandabajo {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-position: center;
    background-size: cover;
}
.h1berandabajo {
    text-align: center;
    text-shadow: 0 0 10px black;
    color: white;
    font-weight: bold;
}
.mainberandabajo {
    display: flex;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 250px;
    border: none;
    text-shadow: 0 0 10px black;
}
body main section a  h2 {
    color: white;
    text-shadow: 0 0 10px black;
}
.sectionberandabajo {
    margin: 0;
    flex:3px;
    border:none;
    padding: 20px;
    text-decoration: none;
}
.articleberandabajo{
    border: none;
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size:12px;
    background-color: rgb(16, 61, 46);
    border-radius: 10px;
    margin:5px;
    padding: 5px;
    box-shadow: 10px 10px rgb(18, 44, 35);
    margin-bottom:15px;
    min-height: 120px;  
}
.articlebb2 {
    background-image: url();
}
.articlebb3 {
    background-image: url();
}
.articlebb4 {
    background-image: url();
}












/* -- Form Kontak -- */
















.bodykontak {
    background-image: url(Pictures/Logo\ Pantai\ Labuan\ Bajo.jpeg);
    background-size:contain;
    background-position: center;
    padding: 0;
    height: 300px;
}
.formkontak {
    background-color: white;
    margin: auto auto;
    border-radius: 10px;
    border: 3px solid red;
    width:400px;
    box-shadow: 0 0 10px black;
}
.h1formkontak {
    text-align: center;
    background-color: red;
    border: 5px solid rgb(151, 7, 36);
    border-radius: 20px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.formbutton {
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    transition: all 0.1s linear;
}
.formbutton:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(231, 231, 231);
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1)
}